extends layout.pug
    
block content
    h1 Welcome, #{user.display_name} !✨
    img(src=user.images[0].url, class='circular_image')

    table
        each event in artistEvents
            tr
                td #{event.artistName}
                td #{event.eventName}
                td #{event.eventDate}
                td: a(href=event.ticketLink) Buy Tickets
