extends layout.pug
    
block content
    h1 Welcome! #{user.id} ✨
    img(src=user.images[0].url, class='circular_image')

    table 
      each t in tracks
        tr 
          - var artist_name = t.track.artists[0].name
          - var track_name = t.track.name
          - var track_preview = t.track.preview_url

          td #{artist_name}
          td #{track_name}
          td: a(href=track_preview) Preview